<aside>
  <div class="sidebar">
    <div class="logo">
      <a href="#">
        <span>Course</span>
        <div class="dot-logo"></div>
      </a>
    </div>
    <ul class="menu-links">
      <a href="/">
        <span><i class="bi bi-grid-fill"></i></span>
        <span>Dashboard</span>
      </a>
      <a href="/about-us">
        <span><i class="bi bi-info-circle-fill"></i></span>
        <span>About us</span>
      </a>
      <a href="/profil">
        <span><i class="bi bi-person-fill"></i></span>
        <span>Profil</span>
      </a>
      <a href="/login">
        <span><i class="bi bi-box-arrow-left"></i></span>
        <span>Logout</span>
      </a>
    </ul>
  </div>
</aside>