<nav class="wrapper-navbar">
  <div class="navbar">
    <div class="account">
      <div class="pic">
        <% if (user.avatar) { %>
          <img src="./img/<%= user.avatar %>">
        <% } else { %>
          <img src="./img/akun.jpg">
        <% } %>
      </div>
      <div class="username">
        <span><%= user.username %></span>
        <span><%= user.email %></span>
        
      </div>
    </div>
  </div>
</nav>

<div>
 
<div class="judul-about">
  <span class="judul-about"> About Me "COURSE."</span> 
  <h1 class="isi-about"> Course. ini dibuat dengan sepenuh hati untuk dapat mengumpulkan tugas yang telah diberikan dosen fakultas teknologi informasi universitas andalas</h1>

</div>

</div>







