<nav class="wrapper-navbar">
  <div class="navbar">
    <div class="account">
      <div class="pic">
        <% if (user.avatar) { %>
          <img src="./img/<%= user.avatar %>">
        <% } else { %>
          <img src="./img/akun.jpg">
        <% } %>
      </div>
      <div class="username">
        <span><%= user.username %></span>
        <span><%= user.email %></span>
      </div>
    </div>
  </div>
</nav>
<div class="container-edit-profil">
  <div class="top">
    <img src="./img/bg-profil.jpg">
  </div>
  <div class="bottom">
    <form action="/ganti-password" method="post">
      <div class="mb-1">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="currentPassword" class="form-control" id="password">
      </div>
      <div class="mb-1">
        <label for="new_password" class="form-label">Enter new password</label>
        <input type="password" name="newPassword" class="form-control" id="new_password">
      </div>
      <div class="mb-1">
        <label for="confirm_new_password" class="form-label">Confirm new password</label>
        <input type="password" name="confirmNewPassword" class="form-control" id="email">
      </div>
      <div class="text-center mb-3 mt-3">
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
</div>