<div class="wrapper-auth">
  <div class="title-auth">
    <h1>Log in</h1>
  </div>
  <form class="form-auth" action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Log in</button>
  </form>
  <div class="bottom-auth">
    <a href="/register"> Register for an account</a>
  </div>
</div>