<div class="wrapper-auth">
  <div class="title-auth">
    <h1>Register</h1>
  </div>
  <form class="form-auth" action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <button type="submit">Register</button>
  </form>
  <div class="bottom-auth">
    <a href="/login"> Login for an account</a>
  </div>
</div>